<app-menu-item 
class="listItems" 
id="documentNewDay" 
[name]="listItems[0]"
[mosaic]="false"
(menuClick)="menuClicked($event)">
</app-menu-item>

<app-menu-item 
class="listItems" 
id="alterPrevMood" 
[name]="listItems[1]"
[mosaic]="false"
(menuClick)="menuClicked($event)">
</app-menu-item>

<app-menu-item 
class="listItems" 
id="viewMoodMosiac" 
[name]="listItems[2]"
[mosaic]="true"
(menuClick)="menuClicked($event)">
</app-menu-item>
<!-- we use $event when the parent component (menu in this case) 
    doesn't have easy access to the returned value in its child -->